{% load static %}
<section class="stats">

    <div class="container">


        <span class="section-subtitle">
            WHY CHOOSE US
        </span>

        <h2 class="section-title">
            Smart Technology With Trusted Service
        </h2>



        <div class="stats-grid">

            <div class="stat-card">

                <div class="stat-icon">
                    <i class="fa fa-home"></i>
                </div>

                <h3>Built For Hyderabad Homes</h2>

                <p>Designed for easy installation in Hyderabad homes without wall damage.</p>

            </div>

            <div class="stat-card">

                <div class="stat-icon">
                    <i class="fa fa-shield"></i>
                </div>

                <h3>Vetra Assurance</h2>

                <p>Reliable smart home solutions backed by trusted service and support.</p>

            </div>

            <div class="stat-card">

                <div class="stat-icon">
                    <i class="fa fa-certificate"></i>
                </div>

                <h3>4-Year Comprehensive Warranty</h2>

                <p>Enjoy long-term protection with comprehensive warranty coverage.</p>

            </div>

            <div class="stat-card">

                <div class="stat-icon">
                    <i class="fa fa-headphones"></i>
                </div>

                <h3>24/7</h2>

                <p>Get expert assistance whenever you need it, day or night.</p>

            </div>

        </div>

    </div>

</section>


