/*=========================
ABOUT
=========================*/

.section{

    padding:100px 0;

}

.about{

    background:#010101;

}

.about-container{

    display:grid;

    grid-template-columns:1fr 1fr;

    gap:70px;

    align-items:center;

}

.about-image img{

    width:80%;

    border-radius:18px;

    box-shadow:0 15px 40px rgba(0,0,0,.4);

}

.section-subtitle{

    display:inline-block;

    color:#C59B67;

    letter-spacing:3px;

    font-size:.9rem;

    margin-bottom:15px;

}

.section-title{

    font-size:2.7rem;

    margin-bottom:20px;

    font-family:"Cormorant Garamond", serif;

}

.about-content p{

    color:#A8A8A8;

    line-height:1.9;

    margin-bottom:30px;

}

.about-features{

    display:grid;

    grid-template-columns:repeat(2,1fr);

    gap:18px;

    margin-bottom:35px;

}

.feature-item{

    display:flex;

    align-items:center;

    gap:12px;

    color:#A8A8A8;

}

.feature-item i{

    color:#C59B67;

}